 #banner {
width: 100%;
left: 0;
right: 0;
top: 0;
height: 100px;
}
.nav{
 background:#0E0D0D;
width:92px;   
 text-align: center;     
 white-space:nowrap;
color:#ffffff;
cursor:pointer;
line-height:37px;
}
.nav a {
        display:block; /* 把行内元素 变成 块级元素 */
        width:92px; /* 盒子 宽度 */
        height:37px; /* 盒子 高度 */
        text-decoration: none;
        vertical-align: middle;
        
    }
 .nav    a:link {color: #ffffff}		/* 未访问的链接 */
 .nav  a:visited {color: #ffffff}	/* 已访问的链接 */
  .nav  a:hover {color: #CC00FF}
.nav:hover{
	background:#ffffff;
	color:#CC00FF;
}
div.bar { /* styles for horizontal top bar */
	height: 37px;
	font-size: 110%;
	color:#ffffff;
	 text-align: center;     
}
div.bar div {
	padding:  7px 20px 3px 20px;
}
a.bar {
    text-decoration: none;
}
 
a.bar:hover {
    text-decoration: underline;
}
.search_back { background:#0E0D0D; height:37px;}
 
input {
vertical-align: middle;
}
