#parse("test/admin/base_admin.vm")
<div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
      <div class="mdc-card"style="width: 1024px;margin-left:300px;padding-bottom: 20px;">
      <form action="../../doSetting/admin" method="post" target="_self">
			<section class="mdc-card__supporting-text">
                  <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                  </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                          <div id="tf-box-leading-example" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100 mdc-text-field--upgraded mdc-ripple-upgraded" style="--mdc-ripple-fg-size:303.975px; --mdc-ripple-fg-scale:1.70971; --mdc-ripple-fg-translate-start:-5.6125px, -112.987px; --mdc-ripple-fg-translate-end:101.325px, -123.987px;">
                            <i class="material-icons mdc-text-field__icon" tabindex="0">event</i>
                            <input type="text" name="name" id="tf-box-leading" class="mdc-text-field__input" value="$user.name">
                            <label for="tf-box-leading" class="mdc-text-field__label"> name</label>
                            <div class="mdc-text-field__bottom-line" style="transform-origin: 146.375px center"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="mdc-card__supporting-text">
                  <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                  </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                          <div id="tf-box-leading-example" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100 mdc-text-field--upgraded mdc-ripple-upgraded" style="--mdc-ripple-fg-size:303.975px; --mdc-ripple-fg-scale:1.70971; --mdc-ripple-fg-translate-start:-5.6125px, -112.987px; --mdc-ripple-fg-translate-end:101.325px, -123.987px;">
                            <i class="material-icons mdc-text-field__icon" tabindex="0">event</i>
                            <input type="text"  id="tf-box-lead3" class="mdc-text-field__input" value="$user.password">
                            <label for="tf-box-lead3" class="mdc-text-field__label">old password</label>
                            <div class="mdc-text-field__bottom-line" style="transform-origin: 146.375px center"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
          <section class="mdc-card__supporting-text">
              <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                  </div>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                          <div id="demo-tf-box-leading-wrapper">
                              <div id="tf-box-leading-example" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100 mdc-text-field--upgraded mdc-ripple-upgraded" style="--mdc-ripple-fg-size:303.975px; --mdc-ripple-fg-scale:1.70971; --mdc-ripple-fg-translate-start:-5.6125px, -112.987px; --mdc-ripple-fg-translate-end:101.325px, -123.987px;">
                                  <i class="material-icons mdc-text-field__icon" tabindex="0">event</i>
                                  <input type="text" name="password" id="tf-box-lead3" class="mdc-text-field__input" value="">
                                  <label for="tf-box-lead3" class="mdc-text-field__label">new password</label>
                                  <div class="mdc-text-field__bottom-line" style="transform-origin: 146.375px center"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
                
                <section style="padding-left: 350px;padding-bottom: 20px;"> 
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                  </div>

                    <div class="mdc-form-field">
                      <div class="mdc-radio mdc-ripple-upgraded" data-mdc-auto-init="MDCRipple" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:2.77369;">
                        <input class="mdc-radio__native-control" type="radio" id="ex0-default-radio1" checked="" name="role" value="borrower">
                        <div class="mdc-radio__background">
                          <div class="mdc-radio__outer-circle"></div>
                          <div class="mdc-radio__inner-circle"></div>
                        </div>
                      </div>
                      <label id="ex0-default-radio1-label" for="ex0-default-radio1">借阅者</label>
                    </div>
                    <div class="mdc-form-field">
                      <div class="mdc-radio mdc-ripple-upgraded" data-mdc-auto-init="MDCRipple" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:2.77369; --mdc-ripple-fg-translate-start:11.5156px, 8px; --mdc-ripple-fg-translate-end:8px, 8px;">
                        <input class="mdc-radio__native-control" type="radio" id="ex0-default-radio2" name="role" value="operator">
                        <div class="mdc-radio__background">
                          <div class="mdc-radio__outer-circle"></div>
                          <div class="mdc-radio__inner-circle"></div>
                        </div>
                      </div>
                      <label id="ex0-default-radio2-label" for="ex0-default-radio2">图书管理员</label>
                    </div>
     				<div class="mdc-form-field">
                      <div class="mdc-radio mdc-ripple-upgraded" data-mdc-auto-init="MDCRipple" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:2.77369; --mdc-ripple-fg-translate-start:11.5156px, 8px; --mdc-ripple-fg-translate-end:8px, 8px;">
                        <input class="mdc-radio__native-control" type="radio" id="ex0-default-radio3" name="role" value="admin">
                        <div class="mdc-radio__background">
                          <div class="mdc-radio__outer-circle"></div>
                          <div class="mdc-radio__inner-circle"></div>
                        </div>
                      </div>
                      <label id="ex0-default-radio3-label" for="ex0-default-radio2">系统管理员</label>
                    </div>

                  </section> 
                 <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                  </div>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop d-flex align-item-center flex-column">
                  <a href="../../admin/Home"><button class="mdc-button mdc-button--unelevated mdc-button--compact">
                      取消修改
                    </button></a>
                    </div>
                                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop d-flex align-item-center flex-column">
                    
                   <button type="submit" class="mdc-button mdc-button--unelevated secondary-filled-button">
                      确定修改
                    </button>
                  </div>
               
                 </div>
      </form>
                 </div>
      </main>
      <!-- partial:../../partials/_footer.html -->
    
      <!-- partial -->
    </div>
<script>
    function f() {
        if("$information"=="修改成功"){
            alert("$information");
        }
        if("$information"=="修改失败"){
            alert("$information");
        }
    }
    window.onload =f;
</script>





#parse("test/bottom.vm")